<html>
<head><title>Welcome to News Category Predictor</title></head>
<body align='center' bgcolor = 'grey'>

<form method='post'>
<table align = 'center' bgcolor = ' #f0a594 '>
<tr><td>
<table align='center' bgcolor = 'grey'>
<tr><td colspan = 10><h3 style="background-color:DodgerBlue;">Please Enter the News Article</h3></td></tr>
<tr><td>News Article</td><td><input type='text' name = 'text1' value ="{{text1}}"</td></tr>
<tr><td>Expected Category</td><td><input type='text' name = 'text2' value = "{{text2}}"</td></tr>
<tr><td colspan = 2><input type='submit' value ='Predict News Cateogry'> </td></tr>
</table>
</td></tr>
<tr><td>
<table align = 'center'>
<tr><td colspan=2><p align='center'>Prediction of News Category is :{{result}}</p></td></tr>
<tr><td colspan=2><img src={{pic}}></td></tr>
</table>
</td></tr>
</table>

</form>
</body>

</html>